.flex-box {
  display: flex;
} 

.div-1 {
  background-color: lightpink;
  width: 100px;
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 50px;
}

.div-2 {
  background-color: lightblue;
  width: 200px;
  height: 60px;
}